.mere {
    min-height: 50vh;
}

hr {
    background-color: rgb(18, 43, 75);
    height: 2px;
    width: 100%;
}

.btn-bg {
    background-color: rgb(18, 43, 75);
    color: white;
}

.btn-bg:hover {
    background-color: rgba(18, 43, 75, 0.311);
    color: rgb(18, 43, 75);
}

thead {
    background-color: rgb(18, 43, 75);
    color: white;
}

.bg-dark-blue {
    background-color: rgb(18, 43, 75);
}

.link_list_bon {
    color: rgb(18, 43, 75);
    font-weight: bold;
    list-style-type: square;
}