.header {
    background-color: #03c9a8;
    height: 50px;
    font-family: "Baskerville Old Face";
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

a {
    color: #ffffff;
}

a.hover {
    color: #f8ce01;
}

.icon_login {
    text-align: center;
    margin-top: 10px;
    margin-left: 230px;
    padding: 20px;
    background-color: #8668fa;
    font-size: 25px;
    color: #ffffff;
    width: 300px;
    height: 50px;
    border-radius: 5%;
}

.contener_login {
    height: 400px;
    padding-top: 5px;
    margin-top: 2px;
    background-color: #e1e6fa;
    border-radius: 5%;
}

.containt_login {
    text-align: center;
    padding: 20px;
}

.titre {
    font-family: "Baskerville Old Face";
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: #f8ce01;
}

.contener_insertion_Note {
    height: 350px;
    margin-top: 2px;
    padding-top: 5px;
    background-color: #e1e6fa;
    border-radius: 5%;
}

.new {
    font-size: 70%;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.1);
}

.clickable {
    cursor: pointer;
}

.menu {
    min-height: 100vh;
    height: 100%;
    font-size: medium;
}

.nav_menu {
    color: rgb(183, 183, 183);
    transition: .3s;
}

.nav_menu:hover {
    color: rgb(255, 204, 0);
    text-decoration: none;
    font-size: larger;
}

body {
    overflow-x: hidden;
}

.bg-menu {
    background: rgb(18, 43, 75);
}

.grand_menu {
    list-style-type: none;
}

ul>ul {
    list-style-type: square;
    color: rgb(183, 183, 183);
}

.fa_menu {
    color: rgb(255, 204, 0);
}

.bg {
    color: rgb(18, 43, 75);
}

.btn-bg {
    background-color: rgb(18, 43, 75);
    color: white;
    font-size: larger;
}

.btn-bg:hover {
    background-color: rgb(27, 50, 79);
    color: white;
}

hr {
    background-color: rgb(18, 43, 75);
    height: 2px;
    width: 100%;
}