.header{
 background-color: #03c9a8;
 height: 50%;
 font-family: "Baskerville Old Face";
 text-align: center;
 padding: 10%;
}
.header a{
	color:#ffffff;
}
.edite a{
	color:#03c9a8;
}
.delete a{
	color:#fc456e;
}
.header a.hover{
	color: #f8ce01;
}
.icon_login{
	text-align: center;
	margin-top: 50%;
	color:  #abb2b9;
	font-size: 70px;
}
.contener_login{
	height: 52%;
	margin-top: -5%;
	background-color:  #f8f9f9 ;
	border-radius: 4%;
}
.containt_login{
	text-align: center;
	padding: 10%;
}
.titre{
	 font-family: "Baskerville Old Face";
	 font-size: 20px;
	 text-align: center;
	 margin: 20%;
	 color:#f8ce01;
}.header{
 background-color: #03c9a8;
 height: 50%;
 font-family: "Baskerville Old Face";
 text-align: center;
 padding: 10%;
}
.header a{
	color:#ffffff;
}
.edite a{
	color:#03c9a8;
}
.delete a{
	color:#fc456e;
}
.header a.hover{
	color: #f8ce01;
}
.icon_login{
	text-align: center;
	margin-top: 50%;
	color:  #abb2b9;
	font-size: 70px;
}
.contener_login{
	height: 52%;
	margin-top: -5%;
	background-color:  #f8f9f9 ;
	border-radius: 4%;
}
.containt_login{
	text-align: center;
	padding: 10%;
}
.titre{
	 font-family: "Baskerville Old Face";
	 font-size: 20px;
	 text-align: center;
	 margin: 20%;
	 color:#f8ce01;
}